only-built-dependencies[]=@firebase/util
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=@swc/core
only-built-dependencies[]=ffmpeg-static
only-built-dependencies[]=protobufjs
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
